:root {
    border-radius: 8px;
}

body {
    &.dark {
        --background-color: #161e27;
        --border-color: #2c3e4f;
        --color: #ffffff;
        --disabled-color: #b9b9c1;
        --active-color: #0285ff;
    }

    &.light {
        --background-color: #ffffff;
        --border-color: #d4dbe2;
        --color: #2d3f51;
        --disabled-color: #8b9fb2;
        --active-color: #1283fe;

        #github {
            filter: brightness(0%);
        }
    }

    width: fit-content;

    margin: 0;
    padding: 0;

    border: var(--border-color) solid 1px;
    border-radius: 8px;

    font-family: Arial, Helvetica, sans-serif;

    color: var(--color);
    background-color: var(--background-color);

    &.android {
        width: 99vw;
        height: 99vh;

        margin: 1px;
    }
}

h3 {
    font-weight: 400;

    text-wrap: nowrap;

    margin: 0;
}

button {
    font-size: 16px;

    padding: 6px;

    background-color: #0285ff;
    color: #ffffff;

    border: none;
    border-radius: 8px;

    cursor: pointer;

    user-select: none;

    &:hover {
        filter: brightness(140%);
    }
}

#app-bar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: var(--border-color) solid 1px;

    padding: 8px 8px;

    button {
        background-color: transparent;

        border: none;
    }

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    img {
        width: 24px;
        height: 24px;

        user-select: none;
    }

    #github {
        cursor: pointer;
    }
}

#content-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    gap: 8px;
    
    padding: 8px;
}

.toggle-area {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: nowrap;
    cursor: pointer;
    pointer-events: all;

    p {
        text-wrap: nowrap;
        margin: 0;
        user-select: none;
    }

    * {
        pointer-events: none;
    }

    &:hover {
        * {
            filter: brightness(90%);
        }
    }
}

.toggle {
    padding: 2px;
    width: 34px;
    height: 16px;

    background-color: transparent;

    border: 2px solid var(--border-color);
    border-radius: 16px;
    
    div {
        height: 16px;
        width: 16px;

        background-color: var(--disabled-color);
        
        border-radius: 16px;
    }
    
    .active {
        margin-left: 18px;

        background-color: var(--active-color);
    }

    &:has(> .active) {
        border: 2px solid var(--active-color);
    }
}